body {
    margin: 0px;
    color: #fff;
    background-color: #000;
    overflow: hidden;
    display: flex;

}

.base {
    display: flex;
    height: 100vh;
    width: 100%;
}

.sidebar {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 425px;
    font-size: 1rem;
    margin: 0.2rem 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.home-group {
    height: 6.7rem;
    background-color: #121212;
    width: 100%;
    padding: .5rem .75rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
    border-radius: 12px;
    align-items: center;
}

.home-group-box {
    display: flex;
    width: 322px;
    line-height: .6rem;
    align-items: center;
    background-color: #121212;
    /* margin-bottom:0.5rem; */
    margin-left: .75rem;
}

.home-group .home-tag i {
    font-size: 1.25rem;
    border: none;
}

.home-group .searchbar i {
    font-size: 1.5rem;
    color: #b3b3b3;
    background-color: #121212;
}

.home-group-font {
    font-size: 1.15rem;
    padding-left: 1rem;
    color: #b3b3b3;
    background-color: #121212;
    font-weight: 700;
}

.search-text:hover {
    color: white;
}

.home-group .searchbar i:hover {
    color: white;
}

.library-group {
    height: 100%;
    width: 100%;
    background-color: #121212;
}

.lib-title {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.lib-icon {
    height: 1.25rem;
}

.lib-nav {
    display: flex;
    background-color: #121212;
    align-items: center;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.lib-icon3,
.lib-icon2 {
    height: 2rem;
    width: 2rem;
    background-color: #121212;
    display: flex;
    align-items: center;
    margin-left: .5rem;
    border-radius: 50%;
}

.lib-icon3 i:hover {
    color: #fff;
}

.lib-icon2 i:hover {
    color: #fff;
}

.lib-icon2 i {
    color: #b3b3b3;
    font-weight: 400;
    background-color: #121212;
}

.lib-icon3 i {
    color: #b3b3b3;
    background-color: #121212;
}

.boxes {
    height: 100%;
    width: 100%;
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.lib-box {
    height: 8.5rem;
    width: 100%;
    background-color: #242424;
    margin: .5rem 0;
    border-radius: 0.5rem;
    line-height: 1.8rem;
    padding: 1.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.lib-box .box-head {
    background-color: #242424;
    font-size: 1.2rem;
    font-weight: 700;
}

.lib-box .box-content {
    background-color: #242424;
    font-size: 1rem;
    font-weight: 600;
}

.badge {
    width: 135px;
    color: #000;
    background-color: #fff;
    padding: 8px 16px;
    height: 32px;
    border-radius: 500px;
    margin-top: .8rem;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-separate {
    width: 170px;
    margin-bottom: .9rem;
}

.badge:hover {
    opacity: 0.9;
    transform: scale(1.1);
    cursor: pointer;
}

.main {
    background-color: #121212;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1rem;
}

.main-nav {
    background-color: #121212;
    height: 3.5rem;
    width: 95%;
    position: sticky;
    margin-right: 20px !important;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    /* z-index: -2; */
}

.nav-backfore {
    height: 2.5rem;
    display: flex;
    background-color: #121212;
    margin-top: 0.8rem;
}

.nav-backfore img {
    height: 1.6rem;
    margin: .35rem;
}

.nav-badge {
    height: 2.5rem;
    /* width:100%; */
    flex-grow: 1;
    background-color: #121212;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 0.8rem;
}

.sub-badge {
    margin: .75rem;
}

.sub-badge div {
    margin-left: .5rem;
}

.user_id {
    font-size: 1.2rem;
}

@media(max-width:1000px) {
    .response {
        opacity: 0;
    }
}

.card {
    overflow-x: hidden;
    overflow-y: scroll;
}

.card-recent h2 {
    font-weight: 800;
}

.card h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card1 {
    width: 190px;
    height: 270px;
    border: 1px solid transparent;
    display: flex;
    box-sizing: border-box;
    border-radius: .5rem;
    background-color: #181818;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem 1rem;
}

.card1 img {
    width: 100%;
    border-radius: .4rem;
}

.card-head {
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 1rem;
}

.card-content {
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem;
}

.card-trend {
    display: flex;
    justify-content: space-around;
}

@media(max-width:1400px) {
    .card-trend {
        flex-wrap: wrap;
    }
}

.main-detail {
    display: flex;
    height: 350px;
}

.main-detail ul {
    list-style-type: none;
    width: 25%;
}

.main-detail ul p {
    font-size: 1.2rem;
    font-weight: 700;
}

.main-detail ul li {
    font-size: 1.2rem;
    opacity: 0.7;
    line-height: 2.2rem;
}

.social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social-link i {
    color: #fff;
    font-size: 1rem;
}

.social-bg {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    background-color: blue;
    color: white;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.player-album {
    background-color: #000;
    width: 25%;
    height: 100%;
    display: flex;
    padding: 1rem;
}

.player-album img {
    border-radius: 6px;
    margin-right: 1rem;
}

.player-album .album-info a {
    text-decoration: none;
    color: #fff;
    width: 100%;
}

.player-album .album-info .singer {
    opacity: .7;
    font-size: .75rem;
}

.player-album .album-icon {
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex: 1;
}

.album-icon i {
    padding: .25rem;
}

.player-control {
    background-color: #000;
    width: 50%;
    height: 100%;
}

.control-btn {
    background-color: #000;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-btn img {
    height: 1rem;
    opacity: 0.5;
    padding-left: 1.6rem;
}

.control-slider {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.progress-bar {
    width: 80%;
    appearance: none;
    height: .2rem;
    margin: 0 1rem;
}

.progress-bar:hover {
    background-color: #1db954;
}

.player span {
    font-size: .85rem;
}

.progress-bar::-webkit-slider-runnable-track {
    height: .2rem;
    opacity: 0.7;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    background-color: #1db954;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: relative;
    top: -6px;
}

.player-option {
    background-color: #000;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.player-option i {
    font-size: 1.1rem;
    padding-right: .5rem;
    opacity: 0.5;
}

.option-btn {
    height: 100%;
    width: 50%;
    background-color: #000;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sound-control {
    height: 100%;
    flex: 1;
    display: flex;
}

.sound-control input {
    margin-top: 2rem;
    appearance: none;
    height: .2rem;
}