<div class="footer-nav">
  <div class="footer-icons">
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><img src="./spotify_photo/library_icon.png" alt="lib" class="lib-icon" /></i></a>
  </div>
</div>