<div class="main">
  <div class="main-nav">
    <div class="nav-backfore">
      <img src="./spotify_photo/backward_icon.png" />
      <img src="./spotify_photo/forward_icon.png" class="response" />
    </div>
    <div class="nav-badge">
      <button type="button" class="badge response badge-separate">
        Explore Premium
      </button>
      <button type="button" class="badge sub-badge" style="background-color: #000">
        <i class="fa-solid fa-circle-down" style="color: #fff"></i>
        <div style="color: #fff; background-color: #000">Install App</div>
      </button>
      <i class="fa-regular fa-user user_id"></i>
    </div>
  </div>
  <div class="card">
    <a href="" class="active option-badge"><span class="badge rounded-pill"
        style="background-color: #fff; color: #000">All</span></a>
    <a href="" class="option-badge"><span class="badge rounded-pill">Music</span></a>
    <a href="" class="option-badge"><span class="badge rounded-pill">Podcast</span></a>
    <h2>Recently played</h2>
    <div class="card-recent">
      <div class="card1">
        <img src="./spotify_photo/card1img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>

    </div>
    <h2>Trending songs</h2>
    <div class="card-trend">
      <div class="card1">
        <img src="./spotify_photo/card2img.jpeg" />
        <div class="card-head">Romantic songs</div>
        <p class="card-content">Best romantic songs your ever listen...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card3img.jpeg" />
        <div class="card-head">Classic songs</div>
        <p class="card-content">Peaceful and refreshing playlist...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card4img.jpeg" />
        <div class="card-head">Hit hip hop</div>
        <p class="card-content">Energeratic song stay us alway active...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card3img.jpeg" />
        <div class="card-head">Choosen songs</div>
        <p class="card-content">Song that you liked most...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card2img.jpeg" />
        <div class="card-head">Top 50 Loving songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
    </div>
    <h2>Featured Charts</h2>
    <div class="card-trend">
      <div class="card1">
        <img src="./spotify_photo/card5img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card6img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card1img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card5img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card6img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
    </div>
    <h2>Martial Art playlist</h2>
    <div class="card-trend">
      <div class="card1">
        <img src="./spotify_photo/card6img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card4img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card3img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <img src="./spotify_photo/card6img.jpeg" />
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
      <div class="card1">
        <div class="card-img-container">
          <img src="./spotify_photo/card6img.jpeg" />
          <div class="animated-icon">
            <i class="fa-solid fa-play"></i>
          </div>
        </div>
        <div class="card-head">Top 50 songs</div>
        <p class="card-content">Weekly update for the most played songs...</p>
      </div>
    </div>
    <hr />
    <div class="main-detail">
      <ul>
        <p>Company</p>
        <li>About</li>
        <li>Jobs</li>
        <li>For the Record</li>
      </ul>
      <ul>
        <p>Communities</p>
        <li>For Artists</li>
        <li>Developers</li>
        <li>Advertising</li>
        <li>Investors</li>
        <li>Vendors</li>
        <li>Spotify for Work</li>
      </ul>
      <ul>
        <p>Useful links</p>
        <li>Support</li>
        <li>Free Moblie App</li>
      </ul>
      <ul class="social-link">
        <li class="social-bg">
          <a href="##">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="social-bg">
          <a href="##">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="social-bg">
          <a href="##">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
      </ul>
    </div>
    <hr />
    <!-- <br><br><br><br><br><br><br> -->
  </div>
</div>