<div class="player">
  <div class="player-album">
    <img src="./spotify_photo/card2img.jpeg">
    <div class="album-info">
      <div> <a href="#">Tum Kya Mile(From "Rani")</a>
      </div>
      <div>
        <a href="#" class="singer">Arijit Singh,Pritam,Shreya Ghoshal
        </a>
      </div>
    </div>
    <div class="album-icon">
      <span><i class="fa-regular fa-heart"></i></span>
      <span><i class="fa-solid fa-tv"></i></span>
    </div>
  </div>
  <div class="player-control">
    <div class="control-btn">
      <img src="./spotify_photo/player_icon1.png">
      <img src="./spotify_photo/player_icon2.png">
      <img src="./spotify_photo/player_icon3.png" style="height:2.2rem;opacity:1 ">
      <img src="./spotify_photo/player_icon4.png">
      <img src="./spotify_photo/player_icon5.png">
    </div>
    <div class="control-slider">
      <span>0:00</span>
      <input type="range" class="progress-bar">
      <span>3:32</span>
    </div>
  </div>
  <div class="player-option">
    <div class="option-btn">
      <i class="fa-solid fa-play"></i>
      <i class="fa-solid fa-bars"></i>
      <i class="fa-solid fa-computer"></i>
      <i class="fa-solid fa-volume-low"></i>
    </div>
    <div class="sound-control">
      <input type="range">
    </div>

  </div>
</div>