<div class="sidebar">
  <div class="home-group">
    <div class="home-tag home-group-box">
      <a href="##">
        <i class="fa-solid fa-house"></i>
        <p class="home-group-font">Home</p>
      </a>
    </div>
    <div class="searchbar home-group-box">
      <a href="##">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="home-group-font">Search</p>
      </a>
    </div>
  </div>
  <div class="library-group home-group">
    <div class="lib-title home-group-box">
      <button class="lib-nav">
        <img src="./spotify_photo/library_icon.png" alt="lib" class="lib-icon" />
        <span class="home-group-font" style="font-size: 1.1rem">
          Your Library</span>
      </button>
      <i class="fa-solid fa-plus lib-icon2"></i>
      <i class="fa-solid fa-arrow-right lib-icon2"></i>
    </div>
    <div class="boxes">
      <div class="lib-box">
        <div class="box-head">Create your first playlist</div>
        <div class="box-content">It's easy,we'll help you</div>
        <button type="button" class="badge">Create playlist</button>
      </div>
      <div class="lib-box">
        <div class="box-head">Let's find some podcasts to follow</div>
        <div class="box-content">We'll keep you updated on new episodes</div>
        <button type="button" class="badge badge-separate">
          Browser podcasts
        </button>
      </div>
    </div>
  </div>
</div>